.collections{
    padding-top: 86px;
    @media screen and (max-width: 768px){
        display: none;
    }
    h2{
        text-align: center;
        margin-bottom: 20px;
        @media screen and (max-width: 990px){
            margin-bottom: 10px;
        }
    }
    .line{
        margin: 0 auto 30px;
        @media screen and (max-width: 990px){
            margin: 0 auto 14px;
        }
    }
    .collections__txt{
        text-align: center;
        margin-bottom: 30px;
        max-width: 826px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 990px){
            margin-bottom: 14px;
        }
    }
}

.collections__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 1200px){
        grid-template-columns: 333px 333px;
        justify-content: center;
    }
    > div{
        padding: 12px;
        div{
            padding: 24px;
            box-shadow: 0px 0px 20px rgb(223, 223, 223);
        }
    }
    h3{
        text-align: center;
        margin-bottom: 18px;
        @media screen and (max-width: 1500px){
            font-size: 22px;
        }
    }
    span{
        font-size: 12px;
        color: rgb(183, 183, 183);
        text-decoration: line-through;
    }
    p{
        text-align: center;
    }
}