.learn_more-btn{
    width: 180px;
    height: 52px;
    font-family: 'Conv_ProximaNova-Semibold';
    font-size: 16px;
    line-height: 19px;
    color: $accent-colortitle;
    cursor: pointer;
    &:hover{
        background-color: #b6b6b6;
    }
    @media screen and (max-width: 768px){
        height: 46px;
    }
}

.btn-black{
    color: white;
    background-color: black;
    &:hover{
        background-color: #4a4a4a;
    }
}

.btn-centr{
    @media screen and (max-width: 1900px){
        margin: 0 auto 40px;
        display: block;
    }
    @media screen and (max-width: 990px){
        display: none;
    }
}

.projects__btn-centr{
    margin: 50px auto 0px;
    display: block;
    @media screen and (max-width: 990px){
        margin: 34px auto 0px;
    }
}

.cart__checkout-btn{
    width: 178px;
    height: 52px;
    padding: 16px 22px;
    border: 1px solid #151515;
    background-color: white;
    cursor: pointer;
    color: #151515;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Conv_ProximaNova-semibold';
    @media screen and (max-width: 420px){
        padding: 8px;
        width: 156px;
    }
    &:hover{
        background-color: #b1b1b1;
    }
}

.checkout__btn-clr{
    color: white;
    background-color: #151515;
}

.checkout__btn-wdt{
    width: 100%;
}