.container{
    &.inner-pad{
        @media screen and (min-width: 1140px){
            padding: 0px 60px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        @media screen and (min-width: 1440px){
            padding: 0px 165px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}

.graphwork__pic{
    img{
        margin: 32px auto;
        @media screen and (min-width: 1140px){
            margin: 68px auto;
        }
    }
}

.graphwork__inner{
    @media screen and (min-width: 1140px){
        margin: auto 0;
    }
    h3{
        width: 322px;
        height: 48px;
        @extend %font-title;
        color: $accent-colortitle;
        text-align: center;
        margin: 0 auto 16px;
        @media screen and (min-width: 1140px){
            width: 342px;
            height: 96px;
            font-size: 40px;
            line-height: 48px;
            text-align: left;
            margin: 0 0 24px;
        }
    }
    p{
        width: 322px;
        height: 72px;
        text-align: center;
        margin: 0 auto 16px;
        @extend %font-txt;
        @media screen and (min-width: 1140px){
            width: 414px;
            height: 72px;
            text-align: left;
            margin: 0 0 32px
        }
    }
}

.register-btn{
    &.e--small{
        @media screen and (min-width: 1140px){
            width: 164px;
            margin: 0;
        }
    }
}