.planlist__pic{
    img{
        margin: 0px auto 32px;
        @media screen and (min-width: 1140px){
            margin: 0 auto;
        } 
    }
}

.planlist__items{
    div{
        max-width: 657px;
        height: 112px;
        padding: 18px 38px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #F0EBFA;
        &:first-child{
            background-color: rgba(246, 243, 252, 1);
            border-bottom: 8px solid $accent-color;
        }
    }
    & h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: $accent-colortitle;
        margin-bottom: 10px;
    }
    & p{
        @extend %font-txt;
        width: 308px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1140px){
    .planlist__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 62px;
    }
    .planlist__items div{
        width: 372px;
        margin-left: 16px;
        &:first-child{
            border-bottom: none;
            border-left: 8px solid $accent-color;
        }
    }
}
@media screen and (min-width: 1439px){
    .planlist__items div{
        height: 128px;
    }
}